/*
    Document   : style
    Author     : Ömer ÖZKAN
    Description:
        Purpose of the stylesheet follows.
*/


* {margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; text-decoration:none;}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v4/_xyN3apAT_yRRDeqB3sPRg.woff) format('woff');
}

.clear {clear:both;}
ul, ol{list-style-position: inside;}

body
{
  background: #333;
  font-family: sans-serif;
  font-size: 14px;
  color: #333;
}

#container
{
    width: 860px;
    margin: 20px auto 20px auto;
    background: #fff;
    padding: 50px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

hr
{
    border-bottom: 1px solid #666;
    margin-bottom: 15px;
}

h1
{
    font-size: 30px;
    display: block;
    margin-bottom: 5px;

}

table
{
    border-collapse: collapse;
    width: 860px;
}
table th
{
	border-bottom: 2px solid #ccc;
	text-align: left;
	padding-left: 30px;
	height: 39px;
	background-color: #ccc;
}

table tr:hover
{
	background-color: #ccc;
}

table td
{
  border-bottom: 1px solid #ccc;
  height: 39px;
  padding-left: 30px;
}
table a
{
    color: #000;
    font-weight: 700;
}


#contact .left
{
    float: left;
    padding-left: 20px;
    padding-top:  20px;
}

 input,  textarea
{
    border: 1px solid #ccc;
    height: 30px;
    width: 250px;
    background-color: #f3f3f3;
    padding-left: 5px;
}

#contact textarea, #note textarea
{
    height: 110px;
    padding-top: 3px;
}

 input:hover, input:focus, textarea:hover, textarea:focus
{
    background-color: #ff6;

}

#contact p
{
    margin-bottom: 15px;
}

#contact .title
{
    width: 50px;
    float: left;
    margin-right: 10px;
}

#contact label
{
    display: block;
    padding-right: 15px;
    text-align: right;
    width: 50px;
    float: left;
    padding-top: 8px;
}

#contact h3
{
    border-bottom:  1px solid #ccc;
    margin-top:  30px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    font-size: 15px;
}

#contact .right
{
    float: right;
    padding-top: 20px;
}

#contact .right label
{
    width: 30px;
    margin-bottom: 10px;
}
#contact .right textarea
{
    width: 380px;
    height: 110px;
}

.buttons
{
    float: right;
}

.buttons button
{
    padding: 10px;
    background-color: #000;
    color:  #ccc;
}

.buttons button.cancel
{
	background-color: #f00;
}

#result
{
    display: none;
    color: #fff;
    line-height: 100px;
    font-size: 26px;
    width: 300px;
    text-align: center;
    z-index: 100;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -150px;
}

.success
{
    background-color: green;
}
.error
{
    background-color: red;
}


#searchform
{
    margin-top: 20px;
}

#searchform input
{
    border: 1px solid #ccc;
    line-height: 30px;
    padding-left: 3px;
    margin-right: 15px;
}

#searchform button
{
    background: #333;
    color: #fff;
    padding: 7px;
}

#searchform input:hover, #searchform input:focus
{
    background: #ff6;
}
#loginform label
{
	margin-right: 20px;
	width: 200px;
	display: block;
}
#loginform p
{
	margin-top: 10px;
	margin-bottom: 10px;
}
#loginform button
{
	padding: 10px;
    background-color: #000;
    color:  #ccc;
}
#loginform button:hover
{
	background-color: #333;
	cursor: pointer;
}